:root {
  --background-color: #323232;
  --primary-text-color: #E0E0E0;
  --secondary-text-color: #BDBDBD;
  --primary-accent-color: #03DAC5;
  --secondary-accent-color: #BB86FC;
  --border-color: #606060;
}

body {
  margin:0;
  background-color: var(--background-color);
}
